#backgroundHolder {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#background {
    position: relative;
    width: 100%;
    height: 100%;
}

#backgroundCanvas {
    position: relative;
    z-index: 5;
}

#paintconfigBag {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 6;
    left: 10px;
    top: 10px;
    height: 20%;
    border: 3px solid #80808077;
    border-radius: 30px;
    padding: 10px;
}

#paintcolor {
    position: relative;
    border: 1px solid #80808077;
    border-radius: 5px;
    cursor: pointer;
}

#paintsizeBag {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

#paintsize {

}

#paintsizeValue {
    margin: 0px;
}

#paintDownload {
    display: inline-block;
    cursor: pointer;
    align-self: center;
}

