#contentHolder {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
}

#ballHolder {
    position: relative;
    width: 100%;
    height: 100%;
}

.ballBag {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    overflow: visible;
}

.ball:hover {
    animation: shake 0.9s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

.ball {
    position: relative;
    object-fit: contain;
    width: 75%;
    z-index: 7;
}

.text {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 8;
    text-align: center;
    font-size: small;
    pointer-events: none;
}