#videoplayerHolder {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010ee;
    z-index: 9;
}

#videoplayerBag {
    position: relative;
    width: 90%;
}

#videoplayer {
    position: relative;
    object-fit: contain;
    width: 100%;
    z-index: 9;
}

#videoHolder {
    position: absolute;
    z-index: 9;
    width: 53.25%;
    height: 60.2%;
    top: 18.8%;
    left: 6.1%;
    border-radius: 4% / 8%;
    overflow: hidden;
}

#video {
    width: 100%;
    height:100%;
}